body {
   margin: 0px;
   display: grid;
   grid-template-columns: 1fr;
   text-align: center;
   font-family: 'Metamorphous', cursive;
}

h1 {
    font-size: 2em;
    margin-top: 150px;
}

#frame {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

#languages {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    font-size: 1em;
    font-weight: bold;
    color: black;
}

#swedish {
    width: 100%;
    border-right: solid black 1px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
}
 
#robberLanguage {
    width: 100%;
    border-left: solid black 1px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: end;
}

#textAreaLeftAndRight {
    display: flex;
    justify-content: center;
}

#textareaLeft {
    margin-right: 0px;
    border: solid black 1px;
    border-radius: 0px;
    margin-top: 0px;
    width: 45em;
    height: 12em;
}

#textareaRight {
    margin-left: 0px;
    border: solid black 1px;
    border-radius: 0px;
    margin-top: 0px;
    width: 45em;
    height: 12em;
}

textarea::placeholder {
    font-family: 'Metamorphous', cursive;
    font-size: 1.2em;
    padding: 5px;
}